#MyProfileContainer {
    display: flex;
    justify-content: space-around;
    border: solid 1px black;
    padding: 1.5em;
    margin: 1.5em 3em;
}

#OwnerProductContainer {
    display: flex;
    flex-direction: column;
}

#testContainer {
    display: flex;
    justify-content: space-around;
}