.productContainer{
        margin: 25px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 75%;
        background-color: white;
        border-radius: 10px;
}